{
  "name": "@@name@@",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "engines": {
    "node": ">=22"
  },
  "scripts": {
    "build": "tsc -p .",
    "test": "tsc -p . && node --test --test-reporter=tap \"dist/test/**/*.test.js\"",
    "start": "node dist/src/main.js"
  },
  "devDependencies": {
    "@types/node": "22.20.1",
    "typescript": "5.8.3"
  }
}
